@model WebApplication5.Models.RETURN_ST10090631

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RETURN_ST10090631</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElapsedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElapsedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReturnId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
