@model IEnumerable<WebApplication5.Models.RETURN_ST10090631>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DriverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElapsedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DriverId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InspectorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElapsedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReturnId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReturnId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReturnId })
        </td>
    </tr>
}

</table>
